  {% extends 'base.html' %}
  {% load static %}

{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<div>

  <img src= "{% static 'images/background.jpg' %}"/>
  <h1 class="mx-5 text-white text-center " style="position:relative;top:-600px;font-family:monotype">Welcome to online market place for compairing mobile phones
  <br>
  <br>
    <a class="btn btn-outline-danger text-white " href="{% url 'compare' %}">Compare</a>
    <a class="btn btn-outline-primary text-white " href="{% url 'compareprice' %}">Compare By Price</a> 
  </h1>
  
  
</div> 
    {% include 'brands.html' %}

{% include 'price.html' %}

{% endblock content %}

