{% extends '../base.html' %}

{% block title%}Edit_Post{% endblock %}
{% block content %}
<h3 class="alert alert-info bg-danger text-center text-warning mt-3">Update Mobile</h3>
<!--message-->
{% if messages %}
{% for message in messages %}
{% if message.tags %}
<span style="color:green; font-size:30px">{{ message.tags }} :</span> 
{% endif %}
<span style="color:red; ">{{message}}</span>
    <a href="{% url 'dashboard' %}" >Go to dashboard</a>
{% endfor %}
{% endif %}
    <!--end message-->

    <form action="" method="POST">
        {% csrf_token %}  
    
        <div class="row">
            {%for fm in form%}
            <div class="form-group col-md-6">
             
              <label>{{fm.label_tag}}</label>
              {{fm|linebreaks}}
              {{fm.errors|striptags|linebreaks}}</span>
          
              </div>
              {%endfor%}
          </div>

    <input type="submit" value="Update" class="btn btn-outline-success">
    <a href="{% url 'dashboard' %}" style="text-decoration:none" class="btn btn-outline-info"> Cancle</a>

    </form>
    {% endblock content %}
